
.main {
    /* display: flex; */
    height: 100px;
    
}

#logo {
    width: 150px;
    height: 150px;
    margin-top: -40px;
    margin-left: 10px;
    margin-right: -50px;
}

.titleRow {
    margin-top: 50px;
    margin-right: 50px;
    
}

.title {
    margin-top: 50px;
    margin-right: 50px;
    
}

table {
background-color: rgb(224, 224, 224);

}

thead {
    text-align: center;

}

.type {
    width: 200px;
    padding: 5px;
}

.amount {
    width: 130px;
}

td {
    text-align: center;
}

.logo {
    width: 250px;
    height: 250px;
}

#details {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
}
#buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.btn1{
    width: 50px;
}
#print{
    border-radius: 10px;
    background-color: rgb(248, 230, 230);
}
#totalPayment{
    font-size: 20px;
}
.cRights {
    direction: ltr;
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
}

@media (max-width: 800px) {
    #logo {
        display: flex;
        justify-content: center;
        width: 500px;
        height: 250px;
        /* position: absolute; */
        margin-right: 20px;
    }

    .logo {
        width: 300px;
        height: 300px;
    }

    #title {
        padding: 10px;
        margin-top: 180px;
        position: absolute;
        margin-right: -10px;
    }

    .title {
        text-align: center;
        margin-top: 10px;
    }

    .subTitle {
        text-align: center;

    }

    #details {
        margin-top: 180px;
        padding: 20px;
    }
}